/*
 * Copyright 2018 NXP
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "imx8mm-rsb3730-a2.dts"

/ {
	/delete-node/ rtl8367;

	gpio_sel_reset: gpio-sel-reset {
		compatible = "gpio-reset";
		reset-gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;
		reset-delay-us = <0>;
		reset-post-delay-ms = <0>;
		#reset-cells = <0>;
	};
};

&uart3_mode {
	default_mode = <1>;
};

&fec1 {
	/delete-property/ fsl,magic-packet;
};

&lt9611uxc {
	status = "disabled";
	/delete-node/ ports;
};

&mipi_dsi {
	/delete-node/ port@1;

	panel@0 {
		compatible = "auo,g101ean02";
		reg = <0>;
		backlight=<&backlight0>;
		panel-init-sequence = [
			29 00 06 3C 01 05 00 03	00
			29 00 06 14 01 03 00 00	00
			29 00 06 64 01 05 00 00	00
			29 00 06 68 01 05 00 00	00
			29 00 06 6C 01 05 00 00	00
			29 00 06 70 01 05 00 00	00
			29 00 06 34 01 1F 00 00	00
			29 00 06 10 02 1F 00 00	00
			29 00 06 04 01 01 00 00	00
			29 00 06 04 02 01 00 00	00
			29 00 06 50 04 20 01 F0	03
			29 00 06 54 04 0A 00 0A	00
			29 00 06 58 04 00 05 8C	00
			29 00 06 5C 04 04 00 04	00
			29 00 06 60 04 20 03 0F	00
			29 00 06 64 04 01 00 00	00
			29 01 06 A0 04 06 80 44	00
			29 00 06 A0 04 06 80 04	00
			29 00 06 04 05 04 00 00	00
			29 00 06 80 04 00 01 02	03
			29 00 06 84 04 04 07 05	08
			29 00 06 88 04 09 0A 0E	0F
			29 00 06 8C 04 0B 0C 0D	10
			29 00 06 90 04 16 17 11	12
			29 00 06 94 04 13 14 15	1B
			29 14 06 98 04 18 19 1A	06
			29 78 06 9C 04 31 00 00	00
		];
		panel-on-sequence = [
			05 78 01 11
			05 78 01 29
		];
		panel-off-sequence = [
			05 05 01 28
			05 78 01 10
		];

		port {
			panel1_in: endpoint {
				remote-endpoint = <&dsim_to_tc35877>;
			};
		};
	};

	port@1 {
		dsim_to_tc35877: endpoint {
			remote-endpoint = <&panel1_in>;
		};
	};
};

&pwm4 {
	status = "okay";
};

&backlight0 {
	status = "okay";
	lvds-bkl-delay-time = <150>;
	lvds-vcc-delay-time = <60>;
};

&usdhc1 {
	/delete-property/ keep-power-in-suspend;
};

&gpio2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_hog>;

	host-bt-wake {
		gpio-hog;
		gpios = <7 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "host-bt-wake";
	};

	bt-wake-host {
		gpio-hog;
		gpios = <8 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "bt-wake-host";
	};

	sd1-wake {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "sd1-wake";
	};
};

&gpio3 {
	pcie-clk-req {
		gpio-hog;
		gpios = <16 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "pcie-clk-req";
	};
};

&iomuxc {
	pinctrl_gpio_hog: hogmux {
		fsl,pins = <
			MX8MM_IOMUXC_SD1_DATA5_GPIO2_IO7		0x41    /* HOST_BT_WAKE */
			MX8MM_IOMUXC_SD1_DATA6_GPIO2_IO8		0x41    /* BT_WAKE_Z_HOST */
			MX8MM_IOMUXC_SD1_DATA7_GPIO2_IO9		0x41    /* SD1_WAKE */
			MX8MM_IOMUXC_NAND_READY_B_GPIO3_IO16	0x41	/* CLK_REQ */
		>;
	};
};