/*
 * Copyright 2017-2019 Advantech
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "imx8qxp-rom3620-a1.dts"

&i2c0_mipi_lvds0 {
	adv_bridge0: adv7535@3d {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "adi,adv7535";
		reg = <0x3d>;
		adi,addr-cec = <0x3b>;
		adi,dsi-lanes = <4>;
		adi,dsi-channel = <1>;
		status = "okay";

		port@0 {
			reg = <0>;
			adv7535_0_in: endpoint {
				remote-endpoint = <&mipi0_adv_out>;
			};
		};
	};
};

&i2c3 {
	adv_bridge1: adv7535@3d {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "adi,adv7535";
		reg = <0x3d>;
		adi,addr-cec = <0x3b>;
		adi,dsi-lanes = <4>;
		adi,dsi-channel = <1>;
		status = "okay";

		port@0 {
			reg = <0>;
			adv7535_1_in: endpoint {
				remote-endpoint = <&mipi1_adv_out>;
			};
		};
	};
};

&ldb1 {
	status = "disabled";
};

&ldb2 {
	status = "disabled";
};

&mipi0_dsi_host {
	status = "okay";

	ports {
		port@1 {
			reg = <1>;
			mipi1_adv_out: endpoint {
				remote-endpoint = <&adv7535_1_in>;
			};
		};
	};
};

&mipi1_dsi_host {
	status = "okay";

	ports {
		port@1 {
			reg = <1>;
			mipi0_adv_out: endpoint {
				remote-endpoint = <&adv7535_0_in>;
			};
		};
	};
};
