// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019-2020 NXP
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include <dt-bindings/leds/common.h>
#include "imx8mm-ebcrs16-a1.dtsi"

/ {
	model = "EBC-RS16";
	compatible = "fsl,imx8mm-evk", "fsl,imx8mm";

	board {
		compatible = "proc-board";
		board-type = "EBC-RS16 A1";
		board-cpu = "IMX8MM";
	};

	aliases {
        rtc0 = &s35390a;
        rtc1 = &snvs_rtc;
	};

	reg_usb_otg1_vbus: regulator-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb_otg1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	usdhc1_pwrseq: usdhc1_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio2 7 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <100>;
	};

    gpio-keys {
       compatible = "gpio-keys";
       pinctrl-0 = <&pinctrl_btn>;
       status = "okay";

       user-mux {
           label = "mux_btn";
           gpios = <&gpio4 30 GPIO_ACTIVE_LOW>;
           debounce-interval = <100>; //ms
           linux,code = < //start  release   event
							1  	   5		KEY_F11
							5  	   9		KEY_F12
							9  	   0xffff	KEY_POWER
			>;
       };
    };

	led-controller {
        compatible = "pwm-leds-multicolor";
        status = "okay";

        multi-led {
            color = <LED_COLOR_ID_RGB>;
            max-brightness = <255>;
            label = "multi-led";

			led-red {
				color = <LED_COLOR_ID_RED>;
				pwms = <&pwm4 0 1000000 0>;
			};

			led-green {
				color = <LED_COLOR_ID_GREEN>;
				pwms = <&pwm3 0 1000000 0>;
				default-state = "on";
			};

			led-blue {
				color = <LED_COLOR_ID_BLUE>;
				pwms = <&pwm1 0 1000000 0>;
			};
		};
    };

	rtl8367c:rtl8367c {
		compatible = "realtek,rtl8367c";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_switch>;
		gpio-sck = <&gpio1 16 GPIO_ACTIVE_HIGH>;
		gpio-sda = <&gpio1 17 GPIO_ACTIVE_HIGH>;
		power-gpio = <&gpio3 23 GPIO_ACTIVE_HIGH>;
		reset-gpio = <&gpio3 22 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	misc-adv-gpio {
		compatible = "misc-adv-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&adv_gpio_pinmux>;
		status = "okay";
		// minipcie-pwr-gpio = <&gpio3 21 GPIO_ACTIVE_HIGH>;
		minipcie-reset-gpio = <&gpio1 1 GPIO_ACTIVE_LOW>;
		en-gpios =<&gpio3 21 GPIO_ACTIVE_HIGH>, <&gpio1 0 GPIO_ACTIVE_LOW>,<&gpio1 14 GPIO_ACTIVE_LOW>,<&gpio5 1 GPIO_ACTIVE_LOW>;
		timing-interval = <300>;
	};
};

&flexspi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi>;
	status = "okay";

	qspi_nor: w25q64fwssig@0 {
        reg = <0>;
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "jedec,spi-nor", "winbond,w25q64";
        spi-max-frequency = <29000000>;
        spi-nor,quad-read = <4>;
    };
};

&uart4 { /* M4 debug */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	assigned-clocks = <&clk IMX8MM_CLK_UART4>;
	assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;
	fsl,uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "nxp,88w8997-bt";
	};
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	vbus-supply = <&reg_usb_otg1_vbus>;
	dr_mode = "host";
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	status = "okay";
};

&usdhc1 { /* wifi bt */
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>, <&pinctrl_usdhc1_gpio>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>, <&pinctrl_usdhc1_gpio>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>, <&pinctrl_usdhc1_gpio>;
	bus-width = <4>;
	pm-ignore-notify;
	keep-power-in-suspend;
	non-removable;
	fsl,sdio-async-interrupt-enabled;
	wakeup-source;
	mmc-pwrseq = <&usdhc1_pwrseq>;
	keep-power-in-suspend;
	m2-pwr-en = <&gpio3 20 GPIO_ACTIVE_HIGH>;
	// wake-in = <&gpio4 10 GPIO_ACTIVE_HIGH>;
	status = "okay";

	wifi_wake_host {
		compatible = "nxp,wifi-wake-host";
		interrupt-parent = <&gpio4>;
		interrupts = <11 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "host-wake";
	};
};

&usdhc3 {
	assigned-clocks = <&clk IMX8MM_CLK_USDHC3_ROOT>;
	assigned-clock-rates = <400000000>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	bus-width = <8>;
	non-removable;
	cqe-disabled;
	status = "okay";
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c4>;
    pinctrl-1 = <&pinctrl_i2c4_gpio>;
    scl-gpios = <&gpio5 20 GPIO_ACTIVE_HIGH>;
    sda-gpios = <&gpio5 21 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&ecspi3 {
    cs-gpios = <&gpio5 25 0>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi3>;
    status = "okay";

    spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <10000000>;
    };
};

&pwm1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm1>;
};

&pwm3 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm3>;
};

&pwm4 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm4>;
};

&iomuxc {
	pinctrl_switch: switch {
		fsl,pins = <
			MX8MM_IOMUXC_ENET_MDC_GPIO1_IO16	0x19	/* SCL */
			MX8MM_IOMUXC_ENET_MDIO_GPIO1_IO17	0x19	/* SDA */
			MX8MM_IOMUXC_SAI5_RXD1_GPIO3_IO22	0x19	/* LAN_SW_REST */
			MX8MM_IOMUXC_SAI5_RXD2_GPIO3_IO23	0x19	/* LAN_SW_PWR_EN */
		>;
	};

	adv_gpio_pinmux: advgpio {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_RXD0_GPIO3_IO21		0x19	/* W_DISABLE */
			MX8MM_IOMUXC_GPIO1_IO00_GPIO1_IO0		0x19	/* Pcie  ENABLE_LTE */
			MX8MM_IOMUXC_GPIO1_IO01_GPIO1_IO1		0x19	/* PCIE_DIS_B */
			MX8MM_IOMUXC_SAI3_TXD_GPIO5_IO1		0x19	/* USBLAN_Z_RESET */
			MX8MM_IOMUXC_GPIO1_IO14_GPIO1_IO14		0x19	/* USBLAN_PWR_EN */
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C4_SCL_I2C4_SCL			0x400001c3	/* I2C_GP_CK */
			MX8MM_IOMUXC_I2C4_SDA_I2C4_SDA			0x400001c3	/* I2C_GP_DAT */
		>;
	};

	pinctrl_i2c1_gpio: i2c1_gpio_grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C1_SCL_GPIO5_IO14		0x19
			MX8MM_IOMUXC_I2C1_SDA_GPIO5_IO15		0x19
		>;
	};

	pinctrl_i2c2_gpio: i2c2_gpio_grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C2_SCL_GPIO5_IO16		0x19
			MX8MM_IOMUXC_I2C2_SDA_GPIO5_IO17		0x19
		>;
	};

	pinctrl_i2c3_gpio: i2c3_gpio_grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C3_SCL_GPIO5_IO18		0x19
			MX8MM_IOMUXC_I2C3_SDA_GPIO5_IO19		0x19
		>;
	};

	pinctrl_i2c4_gpio: i2c4_gpio_grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C4_SCL_GPIO5_IO20		0x19
			MX8MM_IOMUXC_I2C4_SDA_GPIO5_IO21		0x19
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX8MM_IOMUXC_UART4_RXD_UART4_DCE_RX	0x140
			MX8MM_IOMUXC_UART4_TXD_UART4_DCE_TX	0x140
			MX8MM_IOMUXC_ECSPI2_SS0_UART4_DCE_RTS_B		0x140
			MX8MM_IOMUXC_ECSPI2_MISO_UART4_DCE_CTS_B		0x140
		>;
	};

	pinctrl_flexspi: flexspigrp {
		fsl,pins = <
			MX8MM_IOMUXC_NAND_ALE_QSPI_A_SCLK               0x1c2
			MX8MM_IOMUXC_NAND_CE0_B_QSPI_A_SS0_B            0x82
			MX8MM_IOMUXC_NAND_DATA00_QSPI_A_DATA0           0x82
			MX8MM_IOMUXC_NAND_DATA01_QSPI_A_DATA1           0x82
			MX8MM_IOMUXC_NAND_DATA02_QSPI_A_DATA2           0x82
			MX8MM_IOMUXC_NAND_DATA03_QSPI_A_DATA3           0x82
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX8MM_IOMUXC_NAND_WE_B_USDHC3_CLK		0x190	/* SD3_CLK */
			MX8MM_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d0	/* SD3_CMD */
			MX8MM_IOMUXC_NAND_DATA04_USDHC3_DATA0		0x1d0	/* SD3_DATA0 */
			MX8MM_IOMUXC_NAND_DATA05_USDHC3_DATA1		0x1d0	/* SD3_DATA1 */
			MX8MM_IOMUXC_NAND_DATA06_USDHC3_DATA2		0x1d0	/* SD3_DATA2 */
			MX8MM_IOMUXC_NAND_DATA07_USDHC3_DATA3		0x1d0	/* SD3_DATA3 */
			MX8MM_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d0	/* SD3_DATA4 */
			MX8MM_IOMUXC_NAND_CE2_B_USDHC3_DATA5		0x1d0	/* SD3_DATA5 */
			MX8MM_IOMUXC_NAND_CE3_B_USDHC3_DATA6		0x1d0	/* SD3_DATA6 */
			MX8MM_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d0	/* SD3_DATA7 */
			MX8MM_IOMUXC_NAND_CE1_B_USDHC3_STROBE 		0x190	/* SD3_STORBE */
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3-100mhzgrp {
		fsl,pins = <
			MX8MM_IOMUXC_NAND_WE_B_USDHC3_CLK               0x194
			MX8MM_IOMUXC_NAND_WP_B_USDHC3_CMD               0x1d4
			MX8MM_IOMUXC_NAND_DATA04_USDHC3_DATA0           0x1d4
			MX8MM_IOMUXC_NAND_DATA05_USDHC3_DATA1           0x1d4
			MX8MM_IOMUXC_NAND_DATA06_USDHC3_DATA2           0x1d4
			MX8MM_IOMUXC_NAND_DATA07_USDHC3_DATA3           0x1d4
			MX8MM_IOMUXC_NAND_RE_B_USDHC3_DATA4             0x1d4
			MX8MM_IOMUXC_NAND_CE2_B_USDHC3_DATA5            0x1d4
			MX8MM_IOMUXC_NAND_CE3_B_USDHC3_DATA6            0x1d4
			MX8MM_IOMUXC_NAND_CLE_USDHC3_DATA7              0x1d4
			MX8MM_IOMUXC_NAND_CE1_B_USDHC3_STROBE           0x194
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3-200mhzgrp {
		fsl,pins = <
			MX8MM_IOMUXC_NAND_WE_B_USDHC3_CLK               0x196
			MX8MM_IOMUXC_NAND_WP_B_USDHC3_CMD               0x1d6
			MX8MM_IOMUXC_NAND_DATA04_USDHC3_DATA0           0x1d6
			MX8MM_IOMUXC_NAND_DATA05_USDHC3_DATA1           0x1d6
			MX8MM_IOMUXC_NAND_DATA06_USDHC3_DATA2           0x1d6
			MX8MM_IOMUXC_NAND_DATA07_USDHC3_DATA3           0x1d6
			MX8MM_IOMUXC_NAND_RE_B_USDHC3_DATA4             0x1d6
			MX8MM_IOMUXC_NAND_CE2_B_USDHC3_DATA5            0x1d6
			MX8MM_IOMUXC_NAND_CE3_B_USDHC3_DATA6            0x1d6
			MX8MM_IOMUXC_NAND_CLE_USDHC3_DATA7              0x1d6
			MX8MM_IOMUXC_NAND_CE1_B_USDHC3_STROBE           0x196
		>;
	};

    pinctrl_tpm: tpm_grp {
            fsl,pins = <
		MX8MM_IOMUXC_ECSPI1_MOSI_GPIO5_IO7		0x159	/* TPM_IRQ */
            >;
    };

    pinctrl_usbotg: usbotggrp {
            fsl,pins = <
		MX8MM_IOMUXC_GPIO1_IO12_GPIO1_IO12		0x19	/* USB1_OTG_EN */
            >;
    };

	pinctrl_ecspi3: ecspi3grp {
                fsl,pins = <
			MX8MM_IOMUXC_UART1_RXD_ECSPI3_SCLK		0x82	/* ECSPI3_SCLK */
			MX8MM_IOMUXC_UART1_TXD_ECSPI3_MOSI		0x82	/* ECSPI3_MOSI */
			MX8MM_IOMUXC_UART2_RXD_ECSPI3_MISO		0x82	/* ECSPI3_MISO */
			MX8MM_IOMUXC_UART2_TXD_GPIO5_IO25		0x19	/* ECSPI3_SS0 */
			MX8MM_IOMUXC_ECSPI1_SCLK_GPIO5_IO6		0x19	/* INT */
                >;
        };

    pinctrl_btn: btngrp {
            fsl,pins = <
                    MX8MM_IOMUXC_SAI3_RXD_GPIO4_IO30		0x116    /* BTN_IN_CPU */
            >;
    };

    pinctrl_wdt_en_1: wdt_engrp-1 {
            fsl,pins = <
                    MX8MM_IOMUXC_GPIO1_IO09_GPIO1_IO9		0x19    /* WDT_EN */
            >;
    };

    pinctrl_wdt_ping_1: wdt_pinggrp-1 {
            fsl,pins = <
                    MX8MM_IOMUXC_GPIO1_IO15_GPIO1_IO15		0x19    /* WDOG_TRIG */
                    >;
    };

	pinctrl_pwm1: pwm1grp {
                fsl,pins = <
                        MX8MM_IOMUXC_SPDIF_EXT_CLK_PWM1_OUT         0x06	/* LCD1_BKLT_PWM */
                >;
        };

	pinctrl_pwm3: pwm3grp {
                fsl,pins = <
                        MX8MM_IOMUXC_SPDIF_TX_PWM3_OUT         0x06	/* LCD1_BKLT_PWM */
                >;
        };

	pinctrl_pwm4: pwm4grp {
                fsl,pins = <
                        MX8MM_IOMUXC_SAI3_MCLK_PWM4_OUT         0x06	/* LCD0_BKLT_PWM */
                >;
        };
};
