// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 NXP
 */

#include "imx93-afee320-a1.dts"

/ {
	ad7124_mclk: ad7124_mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <614400>; /* 614.4kHz */
	};

	adc_vref: regulator-adv-vref-2v5 {
		compatible = "regulator-fixed";
		regulator-name = "adc_vref_2v5";
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
	};
};

&lpspi7 {
	num-cs = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi7>;
	pinctrl-1 = <&pinctrl_lpspi7>;
	cs-gpios = <&gpio2 4 GPIO_ACTIVE_LOW>, <&gpio_exp1 11 GPIO_ACTIVE_LOW>;
	status = "okay";

	ad7124_0: ad7124@0 {
		compatible = "adi,ad7124-4";
		reg = <0x0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ad7124>;
		interrupt-parent = <&gpio2>;
		interrupts = <26 IRQ_TYPE_EDGE_FALLING>;
		spi-cpha;
		spi-cpol;
		spi-max-frequency = <5000000>;
		refin1-supply = <&adc_vref>;
		clocks = <&ad7124_mclk>;
		clock-names = "mclk";

		#address-cells = <1>;
		#size-cells = <0>;

		channel@0 {
			reg = <0>;
			diff-channels = <0 1>;
			adi,reference-select = <0>;
		};

		channel@1 {
			reg = <1>;
			diff-channels = <2 3>;
			adi,reference-select = <0>;
		};
	};

	ad7124_1: ad7124@1 {
		compatible = "adi,ad7124-4";
		reg = <0x1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ad7124_1>;
		interrupt-parent = <&gpio2>;
		interrupts = <13 IRQ_TYPE_EDGE_FALLING>;
		spi-cpha;
		spi-cpol;
		spi-max-frequency = <5000000>;
		refin1-supply = <&adc_vref>;
		clocks = <&ad7124_mclk>;
		clock-names = "mclk";

		#address-cells = <1>;
		#size-cells = <0>;

		channel@0 {
			reg = <0>;
			diff-channels = <0 1>;
			adi,reference-select = <0>;
		};

		channel@1 {
			reg = <1>;
			diff-channels = <2 3>;
			adi,reference-select = <0>;
		};
	};
};

&iomuxc {

	pinctrl_lpspi7: lpspi7grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO04__GPIO2_IO04		0x3fe
			MX93_PAD_GPIO_IO05__LPSPI7_SIN		0x3fe
			MX93_PAD_GPIO_IO06__LPSPI7_SOUT		0x3fe
			MX93_PAD_GPIO_IO07__LPSPI7_SCK		0x3fe
		>;
	};

	pinctrl_ad7124: ad7124grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO26__GPIO2_IO26		0x3fe
		>;
	};

	pinctrl_ad7124_1: ad7124grp1 {
		fsl,pins = <
			MX93_PAD_GPIO_IO13__GPIO2_IO13		0x3fe
		>;
	};
};
