&lpi2c2 {
	gpio_exp1: pca6416@20 {
		compatible = "nxp,pca6416";
		#gpio-cells = <2>;
		gpio-controller;
		reg = <0x20>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio2>;
		interrupts = <13 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpioexp1>;
		vcc-supply = <&reg_1p8v>;
	};

	gpio_exp2: pca6416@21 {
		compatible = "nxp,pca6416";
		#gpio-cells = <2>;
		gpio-controller;
		reg = <0x21>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio2>;
		interrupts = <26 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpioexp2>;
		vcc-supply = <&reg_3p3v>;
	};
};

&lpi2c4 {
	gpio_exp3: tca9538@70 {
		compatible = "nxp,pca9538";
		reg = <0x70>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&scmi_iomuxc {
	pinctrl_gpioexp1: gpioexp1grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO13__GPIO2_IO_BIT13		0x31e
		>;
	};

	pinctrl_gpioexp2: gpioexp2grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO26__GPIO2_IO_BIT26		0x31e
		>;
	};
};
