config MWIFI_SDIO_8997
	tristate "Marvell WiFi-Ex Driver for SDIO 8997"
	depends on CFG80211 
	select FW_LOADER
	help
	This adds support for wireless adapters based on Marvell
	8997 chipsets with SDIO interface.

	If you choose to build it as a module, it will be called
	mlan.ko and sd8xxx.ko.


config MBT_SDIO_8997
	tristate "Marvell BT Driver for SDIO 8997"
	depends on CFG80211 
	select FW_LOADER
	help
	This adds support for wireless adapters based on Marvell
	8997 chipset with SDIO interface.

	If you choose to build it as a module, it will be called
	bt8xxx.ko.

