# SPDX-License-Identifier: GPL-2.0-only
config WLAN_ADV
	bool "NXP devices"
	default y
	help
	  If you have a nxp card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all the
	  questions about these cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if WLAN_ADV

source "drivers/net/wireless/adv/IW612-MM6X17437/Kconfig"

endif # WLAN_ADV
