/*
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "imx6qdl-advantech.dtsi"

/ {
	model = "Freescale i.MX6 Quad RSB4410 A2";
	compatible = "fsl,imx6q-sabresd", "fsl,imx6q";

	board {
		compatible = "proc-board";
		board-type = "RSB-4410 A2";
		board-cpu = "DualQuad";
	};

	ir {
		//compatible = "fsl,lirc_rpi";
		compatible = "gpio-ir-receiver";
		pinctrl-0 = <&pinctrl_ir_1>;
		gpios=<&gpio1 2 1>;
		linux,rc-map-name = "rc-rc6-mce";
	};
};

&audio_sgtl5000 {
	audio-codec = <&codec>;
};

&bkl {
	lvds-bkl-enable = <&gpio4 6 1>;
	lvds-vcc-enable = <&gpio4 7 1>;
	pwms = <&pwm2 0 5000000>;
	status = "okay";
};

&i2c1 {

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
		mclk = <16000000>;
		mclk_source = <0>;
	};

	s35390a@30 {
		compatible = "fsl,s35390a";
		reg = <0x30>;
	};

	wdt@29 {
		compatible = "fsl,adv-wdt-i2c";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_wdt_en_1 &pinctrl_wdt_ping_1>;
		status = "okay";
		wdt-en = <&gpio2 5 0>;
		wdt-ping = <&gpio1 9 0>;
		reg = <0x29>;
	};
};

&i2c2 {

	hdmi: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};
};

&i2c3 {

	ch7055@76 {
		compatible = "fsl,ch7055";
		reg = <0x76>;
	};

	mxc_vga_i2c@50 {
		compatible = "fsl,mxc_vga_i2c";
		reg = <0x50>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1 &pinctrl_hog_2>;

	hog {
		pinctrl_hog_2: hoggrp-2 {
			fsl,pins = <
				MX6QDL_PAD_EIM_D20__GPIO3_IO20 		0x80000000	/* 3G_DET# */
				MX6QDL_PAD_EIM_D24__GPIO3_IO24 		0x80000000	/* ALL_SYS_PG */
				MX6QDL_PAD_EIM_D25__GPIO3_IO25 		0x80000000	/* PLTRST# */
				MX6QDL_PAD_SD1_CMD__GPIO1_IO18		0x80000000	/* GPIO1 */
				MX6QDL_PAD_SD1_CLK__GPIO1_IO20		0x80000000	/* GPIO2 */
				MX6QDL_PAD_SD1_DAT0__GPIO1_IO16		0x80000000	/* GPIO3 */
				MX6QDL_PAD_SD1_DAT1__GPIO1_IO17		0x80000000	/* GPIO4 */
				MX6QDL_PAD_SD3_CMD__GPIO7_IO02		0x80000000	/* GPIO5 */
				MX6QDL_PAD_SD3_CLK__GPIO7_IO03		0x80000000	/* GPIO6 */
				MX6QDL_PAD_SD3_DAT0__GPIO7_IO04		0x80000000	/* GPIO7 */
				MX6QDL_PAD_SD3_DAT1__GPIO7_IO05		0x80000000	/* GPIO8 */
			>;
		};
	};

	ir {
		pinctrl_ir_1: irgrp-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x80000000	/* GPIO IR-IN */
			>;
		};
	};

	pcie {
		pinctrl_pcie_1: pciegrp-1 {
			fsl,pins = <
				MX6QDL_PAD_EIM_D19__GPIO3_IO19		0x80000000	/* PCIE_DIS_B */
			>;
		};
	};

	pwm {
		pinctrl_pwm2_1: pwm2grp-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_1__PWM2_OUT			0x1b0b1
			>;
		};
	};

	spi1 {
		pinctrl_ecspi1_cs_0: ecspi1_cs_grp-0 {
			fsl,pins = <
				MX6QDL_PAD_EIM_EB2__GPIO2_IO30		0x80000000	/* ECSPI1_CS0 */
			>;
		};
	};

	uart2 {
		pinctrl_uart2_3: uart2grp-3 { /* DCE mode */
			fsl,pins = <
				MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D27__UART2_RX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D28__UART2_CTS_B		0x1b0b1
				MX6QDL_PAD_EIM_D29__UART2_RTS_B		0x1b0b1
			>;
		};
	};

	uart4 {
		pinctrl_uart4_1: uart4grp-1 {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT12__UART4_TX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT13__UART4_RX_DATA	0x1b0b1
			>;
		};
	};

	uart5 {
		pinctrl_uart5_1: uart5grp-1 {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT14__UART5_TX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT15__UART5_RX_DATA	0x1b0b1
			>;
		};
	};

	wdt{
		pinctrl_wdt_en_1: wdt_engrp-1 {
			fsl,pins = <
				MX6QDL_PAD_NANDF_D5__GPIO2_IO05		0x80000000
			>;
		};
		pinctrl_wdt_ping_1: wdt_pinggrp-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x80000000
			>;
		};
	};
};

&ldb {
	status = "okay";
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

&mxcfb3 {
	status = "okay";
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie_1>;
	disable-gpio = <&gpio3 19 0>;
	status = "okay";
};

&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2_1>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2_3>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4_1>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5_1>;
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg_2>;
	disable-over-current;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2_2>;
	cd-gpios = <&gpio2 2 0>;
	wp-gpios = <&gpio2 3 0>;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4_1>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	keep-power-in-suspend;
	status = "okay";
};

&wdog1 {
	status = "disabled";
}
