/*
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "imx6qdl-advantech.dtsi"

/ {
	model = "Freescale i.MX6 Quad EBCRB01 A1";
	compatible = "fsl,imx6q-sabresd", "fsl,imx6q";

	board {
		compatible = "proc-board";
		board-type = "EBC-RB01 A1";
		board-cpu = "DualQuad";
	};
	
	regulators {
                reg_usb_otg_vbus: usb_otg_vbus {
                        compatible = "regulator-fixed";
                        regulator-name = "usb_otg_vbus";
                        regulator-min-microvolt = <5000000>;
                        regulator-max-microvolt = <5000000>;
                        gpio = <&gpio1 28 GPIO_ACTIVE_HIGH>;
                        enable-active-high;
                };
        };

	gpio-leds {
		compatible = "gpio-leds";

		led-green {
			label = "green";
			gpios = <&gpio4 6 GPIO_ACTIVE_LOW>;
		};

		led-red {
			label = "red";
			gpios = <&gpio4 7 GPIO_ACTIVE_LOW>;
		};
	};
};

&audio_sgtl5000 {
	status = "disabled";
};

&can1 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_flexcan1_1>;
        status = "okay";
};

&i2c1 {
	s35390a@30 {
		compatible = "fsl,s35390a";
		reg = <0x30>;
	};

	wdt@29 {
		compatible = "fsl,adv-wdt-i2c";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_wdt_en_1 &pinctrl_wdt_ping_1>;
		status = "okay";
		wdt-en = <&gpio2 5 0>;
		wdt-ping = <&gpio1 9 0>;
		reg = <0x29>;
	};
};

&i2c2 {
	hdmi: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};
};

&i2c3 {
	status = "disabled";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;

	hog {
		pinctrl_hog_1: hoggrp-1 {
                        fsl,pins = <
                                MX6QDL_PAD_SD3_DAT4__GPIO7_IO01         0x80000000      /* SD3_CD */
                                MX6QDL_PAD_SD3_DAT5__GPIO7_IO00         0x80000000      /* SD3_WP */
                                MX6QDL_PAD_SD2_CMD__GPIO1_IO11         	0x80000000      /* SDIO RST */
                                MX6QDL_PAD_SD2_CLK__GPIO1_IO10         	0x80000000      /* SDIO WAKE */
                                MX6QDL_PAD_NANDF_D7__GPIO2_IO07        	0x80000000      /* M.2 WLAN OFF */
                                MX6QDL_PAD_NANDF_D1__GPIO2_IO01        	0x80000000      /* M.2 BT OFF */
				MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x80000000	/* UART 5 WAKE */
                                MX6QDL_PAD_GPIO_0__CCM_CLKO1            0x130b0		/* AUDIO CLK */
                        >;
                };
	};

	spi1 {
		pinctrl_ecspi1_cs_0: ecspi1_cs_grp-0 {
			fsl,pins = <
				MX6QDL_PAD_EIM_EB2__GPIO2_IO30		0x80000000	/* ECSPI1_CS0 */
			>;
		};
	};

	wdt{
		pinctrl_wdt_en_1: wdt_engrp-1 {
			fsl,pins = <
				MX6QDL_PAD_NANDF_D5__GPIO2_IO05		0x80000000
			>;
		};
		pinctrl_wdt_ping_1: wdt_pinggrp-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x80000000
			>;
		};
	};

	usbotg {
		pinctrl_usbotg_3: usbh1_grp-3 {
                        fsl,pins = <
                                MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28       0x80000000      /* USB_OTG_PWR */
                        >;
                };
        };

	leds {
		pinctrl_leds_1: leds_grp-1{
			fsl,pins = <
				MX6QDL_PAD_KEY_COL0__GPIO4_IO06		0x80000000	/* GREEN_STATUS_LED# */
				MX6QDL_PAD_KEY_ROW0__GPIO4_IO07		0x80000000	/* RED_STATUS_LED# */
			>;
		};
	};
};

&audmux {
	status = "disabled";
};

&ldb {
	status = "disabled";
};

&mxcfb1 {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_1>;
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_usbotg_2 &pinctrl_usbotg_3>;
        vbus-supply = <&reg_usb_otg_vbus>;
        imx6-usb-charger-detection;
        status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4_1>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	keep-power-in-suspend;
	status = "okay";
};

&wdog1 {
	status = "disabled";
};
