/*
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "imx6qdl-advantech.dtsi"

/ {
	model = "Freescale i.MX6 Quad RSB6410 A1";
	compatible = "fsl,imx6q-sabresd", "fsl,imx6q";

	board {
		compatible = "proc-board";
		board-type = "RSB-6410 A1";
		board-cpu = "DualQuad";
	};

	regulators {

		reg_usb_otg_vbus: usb_otg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 22 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};

 	 v4l2_out {
	    compatible = "fsl,mxc_v4l2_output";
	    status = "okay";
	};
	 
	gpio-keys {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_sleep_1>;
		compatible = "c8051-pwrbtn";
		pwm-gpio = <&gpio7 4 1>;
		canrx-gpio = <&gpio7 5 1>;
		sleep {
			label = "Sleep Button";
			gpios = <&gpio1 1 1>;
			linux,input-type = <22>;
			linux,code = <205>; /* KEY_SUSPEND */
			debounce_interval = <1>;
			gpio-key,wakeup;
		};
	};
};

&fec {
	phy-led = <0x9247 0x0091>;
};

&uart3 {
     uart-sel-gpio = <&gpio3 20 1>;
};

&audio_sgtl5000 {
	audio-codec = <&codec>;
};

&bkl {
	lvds-bkl-enable = <&gpio6 9 1>;
	lvds-vcc-enable = <&gpio6 7 0>;
	pwms = <&pwm1 0 5000000>;
	status = "okay";
};

&ecspi1 {
	cs-gpios = <&gpio3 19 0>;
};


&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1_1>;
	status = "okay";
};

&i2c1 {

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
		mclk = <16000000>;
		mclk_source = <0>;
	};

	s35390a@30 {
		compatible = "fsl,s35390a";
		reg = <0x30>;
	};
};

&i2c2 {

	hdmi: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};
};

&i2c3 {

	ch7055@76 {
		compatible = "fsl,ch7055";
		reg = <0x76>;
	};

	mxc_vga_i2c@50 {
		compatible = "fsl,mxc_vga_i2c";
		reg = <0x50>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1 &pinctrl_hog_2>;

	can1 {
		pinctrl_flexcan1_1: flexcan1grp-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_7__FLEXCAN1_TX		0x80000000
				MX6QDL_PAD_GPIO_8__FLEXCAN1_RX		0x80000000
				//advantech gpios
				MX6QDL_PAD_NANDF_D4__GPIO2_IO04		0x80000000
				MX6QDL_PAD_NANDF_D5__GPIO2_IO05		0x80000000
				MX6QDL_PAD_NANDF_D6__GPIO2_IO06		0x80000000
				MX6QDL_PAD_NANDF_D7__GPIO2_IO07		0x80000000
				MX6QDL_PAD_SD3_DAT4__GPIO7_IO01		0x80000000
				//UART Mode select
				MX6QDL_PAD_EIM_D20__GPIO3_IO20		0x80000000    /* RS485 or RS232*/
				//8051 input
				MX6QDL_PAD_SD3_DAT0__GPIO7_IO04		0x80000000    /* CAN2_TX 8051 */
				MX6QDL_PAD_SD3_DAT1__GPIO7_IO05		0x80000000		/* CAN2_RX 8051 */
				//uart select gpio
				MX6QDL_PAD_EIM_D20__GPIO3_IO20                 0x80000000	/* uart select gpio */			
				//sdio reset
				MX6QDL_PAD_KEY_ROW1__GPIO4_IO09     0x80000000		/* sdio reset */
				MX6QDL_PAD_SD3_RST__GPIO7_IO08      0x80000000
			>;
		};
	};


	gpio-keys {
			pinctrl_gpio_sleep_1: gpio_sleep1grp-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_1__GPIO1_IO01		0x80000000	/* SLEEP Button */
			>;
		};
	};

	hog {
		/* Common GPIO */
		pinctrl_hog_1: hoggrp-1 {
			fsl,pins = <
				MX6QDL_PAD_NANDF_D2__GPIO2_IO02 	0x80000000	/* SD2_CD */
				MX6QDL_PAD_NANDF_D3__GPIO2_IO03 	0x80000000	/* SD2_WP */
				MX6QDL_PAD_GPIO_0__CCM_CLKO1   		0x130b0     /* AUDIO CLK */
			>;
		};

		pinctrl_hog_2: hoggrp-2 {
			fsl,pins = <
				MX6QDL_PAD_NANDF_CS0__GPIO6_IO11	0x80000000	/* GPIO1 */
				MX6QDL_PAD_NANDF_CS1__GPIO6_IO14	0x80000000	/* GPIO2 */
				MX6QDL_PAD_NANDF_CS2__GPIO6_IO15	0x80000000	/* GPIO3 */
				MX6QDL_PAD_NANDF_CS3__GPIO6_IO16	0x80000000	/* GPIO4 */
				MX6QDL_PAD_EIM_CS0__GPIO2_IO23		0x80000000	/* GPIO5 */
				MX6QDL_PAD_EIM_CS1__GPIO2_IO24		0x80000000	/* GPIO6 */
				MX6QDL_PAD_EIM_OE__GPIO2_IO25		0x80000000	/* GPIO7 */
				MX6QDL_PAD_EIM_A25__GPIO5_IO02		0x80000000	/* GPIO8 */
			>;
		};
	};

	lvds {
		pinctrl_lvds_bkl_1: lvds_bklgrp-1 {
			fsl,pins = <
				MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x170b0		/* LCD_BKLT_EN */
				MX6QDL_PAD_NANDF_CLE__GPIO6_IO07	0x170b0		/* LCD_VDD_EN */
			>;
		};
		pinctrl_lvds_vcc_1: lvds_vccgrp-1 {
			fsl,pins = <
				MX6QDL_PAD_NANDF_CLE__GPIO6_IO07	0x170b0		/* LCD_VDD_EN */
				MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x170b0		/* LCD_BKLT_EN */
			>;
		};
	};

	pcie {
		pinctrl_pcie_1: pcie1grp-1 {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL4__GPIO4_IO14		0x0001B0B0	/* PCIE_DIS_B */
				MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20	0x0001B0B0	/* PCIE_WAKE */
				MX6QDL_PAD_GPIO_17__GPIO7_IO12		0x80000000	/* PCIE_RST */
			>;
		};
	};

	spi1 {
		pinctrl_ecspi1_cs_0: ecspi1_cs_grp-0 {
			fsl,pins = <
				MX6QDL_PAD_EIM_D19__GPIO3_IO19		0x80000000	/* ECSPI1_CS1 */
			>;
		};
	};

	pwm1 {
		pinctrl_pwm1_1: pwm1grp-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_9__PWM1_OUT 0x1b0b1
			>;
		};
	};

	uart2 {
		pinctrl_uart2_1: uart2grp-1 {
			fsl,pins = <
				MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D27__UART2_RX_DATA	0x1b0b1
 				MX6QDL_PAD_EIM_D28__UART2_CTS_B     0x1b0b1
				MX6QDL_PAD_EIM_D29__UART2_RTS_B     0x1b0b1
			>;
		};
	};

	uart3 {
		pinctrl_uart3_2: uart3grp-2 {
			fsl,pins = <
				MX6QDL_PAD_EIM_D24__UART3_TX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D25__UART3_RX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D31__UART3_RTS_B     0x1b0b1 
				MX6QDL_PAD_EIM_D30__UART3_CTS_B     0x1b0b1 
			>;
		};
	};

	uart4 {
		pinctrl_uart4_1: uart4grp-1 {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT12__UART4_TX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT13__UART4_RX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT16__UART4_RTS_B		0x1b0b1
				MX6QDL_PAD_CSI0_DAT17__UART4_CTS_B		0x1b0b1
				/*
				MX6QDL_PAD_CSI0_DAT12__UART4_TX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT13__UART4_RX_DATA	0x1b0b1
				*/
			>;
		};
	};

	uart5 {
		pinctrl_uart5_1: uart5grp-1 {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT14__UART5_TX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT15__UART5_RX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT18__UART5_RTS_B		0x1b0b1
				MX6QDL_PAD_CSI0_DAT19__UART5_CTS_B		0x1b0b1
				/*
				MX6QDL_PAD_CSI0_DAT14__UART5_TX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT15__UART5_RX_DATA	0x1b0b1
				*/
			>;
		};
	};

	usbotg {
		pinctrl_usbotg_pwr_1: usbotg_pwr_grp-1 {
			fsl,pins = <
				MX6QDL_PAD_EIM_D22__GPIO3_IO22		0x000000B0	/* USB_OTG_PWR*/
			>;
		};
		pinctrl_usbotg_2: usbotggrp-2 {
			fsl,pins = <
				MX6QDL_PAD_ENET_RX_ER__USB_OTG_ID	0x0001B0B0
				MX6QDL_PAD_EIM_D21__USB_OTG_OC 0x17059
			>;
		};
	};
};

&ldb {
	status = "okay";
//	split-mode;
	
	lvds-channel@0 {
		display-timings {
			native-mode = <&timing60>;
			timing50: g215hvn0 {
				clock-frequency = <144000000>;
				hactive = <1920>;
				vactive = <1080>;
				hback-porch = <90>;
				hfront-porch = <30>;
				vback-porch = <5>;
				vfront-porch = <38>;
				hsync-len = <60>;
				vsync-len = <7>;
			};
	
		timing60:g150xgel05 {
			clock-frequency = <65000000>;
			hactive = <1024>;
			vactive = <768>;
			hback-porch = <220>;
			hfront-porch = <40>;
			vback-porch = <21>;
			vfront-porch = <7>;
			hsync-len = <60>;
			vsync-len = <10>;
			};	
		};
	};
	lvds-channel@1 {
		crtc = "ipu1-di0";
		status = "disable";
	};
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

&mxcfb3 {
	status = "okay";
};
/*
&mxcfb4 {
	status = "okay";
};
*/
&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie_1>;
	disable-gpio = <&gpio4 14 0>;
	power-on-gpio = <&gpio5 20 0>; /*	wake-up-gpio = <&gpio5 20 0>;*/
	reset-gpio = <&gpio7 12 0>;
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1_1>;
	status = "okay";
};

&sata {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_1>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2_1>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3_2>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4_1>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5_1>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg_2 &pinctrl_usbotg_pwr_1>;
	vbus-supply = <&reg_usb_otg_vbus>;
	disable-over-current;
	dr_mode = "otg";
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1_1>;
	bus-width = <4>;

	non-removable;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "disable";
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2_2>;
	bus-width = <4>;
	cd-gpios = <&gpio2 2 0>;
	wp-gpios = <&gpio2 3 0>;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4_1>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	status = "okay";
};
